.deps
.dirstamp
*.o
*.obj
*.exe
*.ilk
*.manifest
*.pdb
*.tds
any_executor
blocking
blocking_adaptation
context_as
executor
inline_exception_handling
invocable_archetype
mapping
outstanding_work
prefer_only
relationship
