.deps
.dirstamp
*.o
*.obj
*.exe
*.ilk
*.manifest
*.pdb
*.tds
any_executor
blocking
blocking_adaptation
bulk_guarantee
context_as
execute
executor
invocable_archetype
mapping
outstanding_work
prefer_only
receiver
relationship
set_done
set_error
set_value
