Makefile
Makefile.in
aclocal.m4
asio.pc
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
test-driver
/doc
/lib
/boostified
/tsified
*.gz
*.bz2
*.zip
/*.cpp
/*.hpp
### cmake-init generated:
.git
.github/
.idea/
.vs/
.vscode/
.init
build/
cmake-build-*/
stagedir/
prefix/
CMakeLists.txt.user
CMakeUserPresets.json
tags
*.swp
*.bak
